html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ebebeb;
	font-family:Helvetica;
	margin: 0;
    padding: 0;
}
h1 {
	font-size: 15px;
	text-align: left;
	font-weight:normal;
}
div {
	margin: 15px;
	padding-left:10px;
	padding-right:10px;
	background-color: white;
	color: black;
	border: 1px solid black;
    border-radius: 5px;
}
.full {
	width=%100;
}
.side {
	float:left;
}
form {
    margin: 10px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    background-color: #cccccc;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #b5b5b5;
}