body {
    background-color: #e0ebeb;
	font-family:Helvetica;
	padding:5px;
}
h1 {
	font-size: 15px;
	text-align: left;
	font-weight:normal;
}
div {
	margin: 5px;
	padding-left:10px;
	padding-right:10px;
	background-color: white;
	color: black;
	border: 1px solid black;
    border-radius: 5px;
}
.full {
	width=%100;
}
.side {
	float:left;
}