<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container" th:replace="fragments :: navigation"></div>
<div class="container" id="search-results-wrapper">
    <p th:text="'OAGIS Thesaurus: Search for &quot;' + ${searchTerm} + '&quot;'"></p>
    <form th:each="result : ${resultEntrySet}" method="post" th:unless="!${result.key}">
        <button type="submit" name="showInfoTerm" th:value="${result.key}" th:text="${result.key} + ': ' + ${result.value}" class="link-button">
        </button>
    </form>
    <p th:unless="${resultEntrySet}">No results</p>
</div>
</body>
</html>